@media screen and (max-width:1100px) {


    .header-info p {
        display: none;
    }

    .header-info br {
        display: initial;
    }

    input[type="text"]:focus {
        width: 200px;

    }

    .footer-about {
        padding-top: 300px;
    }

}

@media screen and (max-width:1000px ) {

    .footer-about {
        height: 350px;
        margin-top: 160px;
    }
}

@media screen and (max-width:950px ) {
/*main*/

    .main-menu-bottom,
    .menu-bottom {
        display: none;
        position: absolute;
        top: 100px;
        right: 20px;
        background-color: #5ED1BA;
        z-index: 3;
    }



    .nav-bottom-list {
        display: flex;
        flex-direction: column;
        height: 50vh;
        width: 50vh;


    }

    .main-toggle,
    .menu-toggle{
        display: block !important;
        position: absolute;
        right: 0;
        top: 15px;

    }

    .main-toggle.is-active,
    .menu-toggle.is-active+.main-menu-bottom {
        display: block;
    }

    .swiper {
        padding-left: 18%;

    }


    /*about*/

    .about-contant {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        
    }

    .about-contant img {
        width: 390px;
        height: 540px;
        margin: auto;
        
    
        
    }

    h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .footer-about {
        padding-top: 300px;
    }

    

    




}

@media screen and (max-width:800px) {

    /*main*/
    h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .header-info h2 {
        font-size: 18px;
        margin-top: -15px;
    }

    input[type="text"]:focus {
        width: 200px;

    }

    #wrap {

        margin-top: 20px;

    }

    .main {
        background-position: 85% -50%;
    }

    .swiper {
        padding-left: 30%;

    }

    input[type="text"]:focus {
        width: 150px;
        
    }

    /*about*/

    .about-contant img {
        height: 500px;
    }
    .about-contant{
        padding-top : 100px;
        
    }
    .footer-about {
        padding-top: 400px;
    }



}

@media screen and (max-width:720px) {
    .swiper {
        padding-left: 30%;

    }

    .main {
        height: 1200px;
    }

    .header {
        height: 25vh;
    }

    .header {
        height: 42vh;
        padding-top: 40px;
    }

    .header-all {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .header-all {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    
    input[type="submit"] {
        
        position: relative;
       
    }

    input[type="text"]:focus {
        width: 150px;
        
    }

    #wrap {
        margin-top: -30px;
        margin-bottom: 30px;
    }

    

    .footer-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .nav-top-list a {
        color: #A767D5;
    }


    .nav-top-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        z-index: 3;
        gap: 15px;


    }

    .news {
        padding-top: 200px;
    }

    /*about*/

    .footer-about {
        
        margin-top: 50px;
    }

    .about-contant {
        padding-top: 200px;
    }

    
}


    @media screen and (max-width:600px) {

        .header {
            height: 42vh;
            padding-top: 40px;
        }

        .header-all {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        
        input[type="submit"] {
            
            position: relative;
           
        }

        input[type="text"]:focus {
            width: 150px;
            
        }

        #wrap {
            margin-top: -30px;
            margin-bottom: 30px;
        }

        

        .news {
            width: 92%;
            
        }

        .swiper {
            padding-left: 20%;
    
        }

        /*about*/

        .about-contant {
            padding-top: 150px;
        }

        
        .footer-about {
            
            margin-top: 160px;
        }
        
        @media screen and (max-width:550px) {
            .footer-about {
                margin-top: 220px;
            }
        }




}


    