@font-face {
    font-family: 'Forum';
    src: url(fonts/Forum-Regular.ttf);
}


body {
    margin: 0;


}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding:0 20px;
}

h1 {
    font-family: 'Forum';
    font-size: 48px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;

}

h2 {
    font-family: 'Arsenal';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    color: #680BAB;
    

}
h3 {
    
    font-weight: 200;
    color: #680BAB;
    
    

}

p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    

}

.jc-sb {
    display: flex;
    justify-content: space-between;
}
.jc-sa {
    display: flex;
    justify-content: space-around;
}


.a-center {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color:#A767D5;
}
a:hover {
    text-decoration: underline;
   
}

.dg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

/*header*/

.header {
    height: 180px;
    background-image: linear-gradient(to bottom, #13DFB7, #fff);
    box-shadow: 0px 4px 4px 0px #00000040;

}

.header-logo img {
    width: 103px;
    height: 72px;
}

.header-info {
    color: #680BAB;
    text-align: center;

}
.header-info br {
    display: none;
}

.header-info h2 {
    margin-top: -30px;
}

.header-info p {
    margin-top: -10px;
}

/*search*/
#wrap {

    /* margin-top: 60px; */
    display: inline-block;
    position: relative;
    height: 60px;
    /* float: right; */
    padding: 0;
    position: relative;
}

input[type="text"] {
    margin-top: 25px;
    height: 40px;
    font-size: 25px;
    display: inline-block;
    font-family: "Lato";
    font-weight: 100;
    border: none;
    outline: none;
    color: #555;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;

}

input[type="text"]:focus {
    width: 250px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}

input[type="submit"] {
    height: 67px;
    width: 63px;
    display: inline-block;
    color: red;
    /* float: right; */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
}

input[type="submit"]:hover {
    opacity: 0.8;
}


/*main*/

.main {
    margin-top: -10px;
    height: 1000px;
    background-image: url(../images/main_img.png) ;
    position: relative;
    z-index: 2;


    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main_overlay {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(192,192,192, 0.5);
    z-index: 0;
}



/*menu-top*/
.menu-top {

    border-bottom: 1px solid #5ED1BA;
    
}

.nav-top-list {

    height: 80px;
    display: flex;
    justify-content: space-evenly;
}

.nav-top-list a {
    color: #680BAB;
    font-family: 'Arsenal';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;


}


nav ul {

    margin: 0;
    padding: 0;
}

.nav-top-list:after {
    content: "";
    display: table;
    clear: both;
}

.nav-top-list>li {

    float: left;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.nav-top-list li a:hover {
    color: #D5B45B;
}

.submenu-link:after {
    content: "";
    font-family: "FontAwesome";
    color: inherit;
    margin-left: 10px;
}

.submenu {
    background: #273037;
    position: absolute;
    left: -20;
    top: 100%;
    z-index: 5;
    width: 140px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
}

.submenu a {
    color: white;
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;

}

.submenu li:last-child a {
    border-bottom: none;
}

.nav-top-list>li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}


/*menu-bottom*/

.menu-bottom {

    border-bottom: 1px solid #5ED1BA;
}

.nav-bottom-list {

    height: 80px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
}

.nav-bottom-list a {
    font-family: 'Arsenal';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #A767D5;
    position: relative;
    z-index: 2;

}

.nav-bottom-list li a:hover {
    color: #D5B45B;
    
}

.main-toggle,
.menu-toggle {
    display: none;
}










.news {
    width: 50%;
    padding-top: 50px;
    position: relative;
    z-index: 2;
   

    
}
.news_a {
    font-size: 18px !important;
    
    
}

.news a {
    font-size: 24px;
    
    
    
}

.news h2 {
    color:#680BAB;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
    
}
.news h3 {
    color:#680BAB;
    margin-top: 60px;
    
}

.news p {

    margin-top: 15px;
    position: relative;
    z-index: 2;
}

.news_info {
    margin-top: 50px;
}



/*Gallery*/


.gallery {
    background-image: linear-gradient(#2D6C16, #2C4D2000);
    height: 480px;
    margin-top: -20px;
}


.gallery h2 {
    padding-top: 60px;
    color: #FFD600E8;
}

.swiper {
    padding-left: 90px ;
    padding-top: 50px ;
    height: 300px;
  }


  /*footer*/

  .footer {
    height: 300px;
    padding-top: 2%;
    
    background-image: linear-gradient(#13DFB7, #fff);
   
  }

  .footer_right-info p {
    color: #A767D5;
    font-size: 18px;
    margin: 15% 0;
  }

  .footer_right-img {
    display: flex;
    justify-content: space-evenly;
  }

  .footer_right-img img {
    width: 40px;
    height: 40px;

  }

  




  /*about*/

  .about {
    background-color: #B0F1E4;
    padding-top: 25px;
    
    
}

.about-contant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 100%;
    
}
.about-contant img {
    width: 490px;
    height: 640px;
    margin: auto;
    

    
}


/*course*/

.course {
    background-color: #B0F1E4;
}

.course_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 25px;
    padding-bottom: 25px;
}

.course_info-info h2 {
    color: #680BAB;
    margin-bottom: 45px;
}

.course_info-info {
    text-align: right;
}


.course_info-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*contacts*/

.contacts {
    
    padding-top: 10%;
    position: relative;
    z-index: 2;
}

.contacts_info h3 {
    margin-top: 35px;
}


.contact-_info-ring {
    color: #A767D5;
}






